.clients-section {
    position: relative;
    background-color: $color-dark;
    padding: 0 8rem 4rem 8rem;

    .clients-text {
        background-color: $color-light;
        text-align: center;
        
        &__font {
            font-size: 1.5rem;
        }
    }

    .clients-carousel {
        position: relative;
        overflow: hidden;
        background-color: $color-light;
        padding: 2rem 8rem 4rem 8rem;
    }

    .carousel-textbox {
        width: 80%;
        height: 12rem;
        margin: auto;
    }

    .carousel-control-prev, .carousel-control-next, .carousel-indicators {
        filter: invert(100%);
    }

}