.services-section {
    position: relative;
    background-color: $color-dark;
    padding: 0 8rem 0 8rem;

    @include side-padding;
  
    .services-card {
      position: relative;
      height: 300px;
      width: 100%;
      max-width: 1600px;
      margin: auto;
      overflow: hidden;
      background-image: url(./images/process/large-group-standing-in-office.jpg);
      background-size: cover;
      background-position: center; 

      &__caption {
        position: absolute;
        z-index: +10;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 2.2rem;
        letter-spacing: 0.1rem;
        color: $color-black;
        text-shadow: 0.1rem 0.1rem rgba(255, 255, 255, 0.9); 
        text-transform: uppercase;

        @include respond(tab-land) { font-size: 2rem; }
        @include respond(tab-port) { font-size: 1.6rem; }
        @include respond(phone) { font-size: 1.3rem; }
        @include respond(big-desktop) { font-size: 2.5rem; }
      }
  
      &__overlay {
        letter-spacing: 0.1rem;
        position: absolute;
        background-color: $color-dark-opaque;
        height: 300px;
        width: 100%;
        content: "";
        z-index: +100;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .15s all ease-out;
  
        &-text {
          font-weight: bold;
          font-size: 1.7rem;
          color: $color-white;

          @include respond(tab-land) { font-size: 1.5rem; }
          @include respond(tab-port) { font-size: 1.3rem; }
          @include respond(phone) { font-size: 1.2rem; }
          @include respond(big-desktop) { font-size: 1.8rem; }
        }
      }
    }
  
    .graybox {
      background-color: $color-dark;
      max-width: 1600px;
      margin: auto;
    
      &__description {
        padding: 2rem 4rem 4rem 4rem;
        background-color: $color-light;
        font-size: 1rem;
        @include respond(tab-land) { font-size: 1rem; }
        @include respond(tab-port) { font-size: .9rem; }
        @include respond(phone) { font-size: .8rem; }
        @include respond(big-desktop) { font-size: 1.3rem; }

        @include side-padding;

        &--2columns {
          column-count: 2;
          column-gap: 2rem;
          column-rule-style: solid;
          column-rule-width: .15rem;
          column-rule-color: $color-dark-opaque;

          @include respond(tab-land) { 
            column-count: 1;
          }
        }
      }
    
      &__packages {
        padding: 0 4rem 0 4rem;
        background-color: $color-light;
        @include respond(tab-land) { padding: 0 4rem 0 4rem; }
        @include respond(tab-port) { padding: 0 2rem 0 2rem; }
        @include respond(phone) { padding: 0 0 0 0; }
        @include respond(big-desktop) { padding: 0 4rem 0 4rem; }
                
        .picture-normal {
          height: 250px;
        }
    
        .picture-wide {
          height: 250px;
        }
    
        .picture-tall {
          height: 500px;
        }
    
        @mixin bg-image-props {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          backface-visibility: hidden;
          transition: all 500ms ease-out 0s;
          width: 100%;
          height: 100%;
        }
    
        .package {
          width: 100%;
          overflow: hidden;
          position: relative;
          display: block;
    
          &-university {
            background-image: url(../src/images/package-images/P1_opt.jpg);
            @include bg-image-props;
          }

          &-masterprogramme {
            background-image: url(../src/images/package-images/P2_opt.jpg);
            @include bg-image-props;
          }

          &-appguide {
            background-image: url(../src/images/package-images/P3_opt.jpg);
            @include bg-image-props;
          }

          &-scholarships {
            background-image: url(../src/images/package-images/P4_opt.jpg);
            @include bg-image-props;
          }

          &-travel {
            background-image: url(../src/images/package-images/P5_opt.jpg);
            @include bg-image-props;
          }
          
          &-countryguide {
            background-image: url(../src/images/package-images/P6_opt.jpg);
            @include bg-image-props;
          }
    
          &-caption {
            text-transform: capitalize;
            color: $color-white;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            transition: all 200ms ease-out;
            filter: drop-shadow(8px 8px 10px $color-black);
          }
        }
      } 

      &__schedule {
        text-align: center;
        position: relative;
        margin-top: 2rem;
      }
    }

    .break-section {
      position: relative;
      background-color: $color-dark;
      height: 4rem;
    }
  }