.publications-section {
    position: relative;
    background-color: $color-dark;
    padding: 0 8rem 0 8rem;

    @include side-padding;

    .graybox {
        background-color: $color-dark;
        max-width: 1600px;
        margin: auto;
      
        &__description {
          padding: 2rem 4rem 4rem 4rem;
          background-color: $color-light;
          font-size: 1rem;
          @include respond(tab-land) { font-size: 1rem; }
          @include respond(tab-port) { font-size: .9rem; }
          @include respond(phone) { font-size: .8rem; }
          @include respond(big-desktop) { font-size: 1.3rem; }
  
          @include side-padding;

        }
    }
}