.about-section {
    position: relative;
    background-color: $color-dark;
    padding: 4rem 8rem 4rem 8rem;

    @include side-padding;
  
    .about-item {
      width: 100%;
      max-width: 1600px;
      margin: auto; 
      height: 300px;
      outline: 3px solid $color-dark;
      outline-offset: -10px;
      background-color: $color-light;
      display: table;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      @include respond(tab-port) {
        display: block;
        height: auto;
      }

      &__text {
        width: 50%;
        box-sizing: border-box;
        padding: 2rem;
        font-size: 1.2rem;
        display: table-cell; 
        vertical-align: middle; 
        height: 100%;
        text-align: center;

        @include respond(tab-land) { font-size: 1.1rem; }
        @include respond(tab-port) {
          font-size: 1rem; 
          display: block;
          height: auto;
          width: 100%;
        }
        @include respond(phone) { font-size: 1rem; }
        @include respond(big-desktop) { font-size: 1.5rem; }
      }
  
      &__picture {
  
        @mixin picture {
          width: 50%;
          height: 300px;
          background-size: cover;
          background-position: center;
          display: table-cell; 

          @include respond(tab-port) {
            width: 100%;
            display: block;
          }
        }
  
        &-1 {
          @include picture;
          background-image: url(./images/about/whatWeDo_opt.jpg);
        }
  
        &-2 {
          @include picture;
          background-image: url(./images/about/difference_opt.jpg);
        }
  
        &-3 {
          @include picture;
          background-image: url(./images/about/aboutUs_opt.jpg);
        }
  
        &-4 {
          @include picture;
          background-image: url(./images/about/philosophy_opt.jpg)
        }

        &-5 {
          @include picture;
          background-image: url(./images/about/missionAndVision_opt.jpg)
        }

        &-6 {
          @include picture;
          background-image: url(./images/about/whoIsItFor_opt.jpg)
        }
      }
    }
  }