.about-section {
    position: relative;
    background-color: $color-dark;
    padding: 4rem 8rem 4rem 8rem;

    @include side-padding;
  
    .about-item {
      width: 100%;
      outline: 3px solid $color-dark;
      outline-offset: -10px;
      display: table;
      background-color: $color-light;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      &__text {
        height: 300px;
        box-sizing: border-box;
        padding: 2rem;
        font-size: 1.2rem;
        display: table-cell; 
        vertical-align: middle; 
        text-align: center;

        @include respond(tab-port) {
          display: block;
          height: auto;
        }
      }
  
      &__picture {
  
        @mixin picture {
          width: 50%;
          height: 300px;
          background-size: cover;
          display: table-cell;          
        }
  
        &-1 {
          @include picture;
          background-image: url(./images/about/whatWeDo.jpg);
        }
  
        &-2 {
          @include picture;
          background-image: url(./images/about/difference.jpg);
        }
  
        &-3 {
          @include picture;
          background-image: url(./images/about/aboutUs.jpg);
        }
  
        &-4 {
          @include picture;
          background-image: url(./images/about/philosophy.jpg)
        }

        &-5 {
          @include picture;
          background-image: url(./images/about/missionAndVision.jpg)
        }
      }
    }
  }