.contact-section {
    position: relative;
    background: transparent;
    color: $color-white;
    font-size: 1rem;
    padding: 4rem 8rem 4rem 8rem;

    @include side-padding;

    .bg-image {
        background-image: url(./images/contact/contact_bgr_opt.jpg);
        background-size: cover;
        background-position: center 25%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        filter: brightness(30%);
    }

    /*
    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
        filter: brightness(30%);

        &__content {
            height: 100%;
            width: 100%;
            object-fit: cover !important;
        }
    }

    .bg-capture {
        position: absolute;
        bottom: 0;
        right: 0;

        &__text {
            color: $color-light-opaque;
            font-size: .7rem;
            margin-right: 1rem;
        }
    }
    */

    &__box {
        max-width: 1600px;
        margin: auto;
    }

    &__title {
        font-size: 2.2rem;
        //font-family: goudyBold;
        letter-spacing: 0.1rem;
        margin: 0;
        padding-bottom: 2rem;
        text-transform: uppercase;
    }

    &__options {
        padding: 0rem 4rem 0rem 0rem; 
        width: 100%;

        ul {
            list-style-type: none;
            padding-inline-start: 0;
        }
    }

    .toast {
        width: 50%;
        @include respond(tab-port) {
            width: 75%;
        }
        @include respond(phone) {
            width: 100%;
        }

        &-body {
            color: $color-dark;
        }
    }

    &__form {
        border: .15rem solid $color-white;
        padding: 4rem;
        width: 50%;
        color: $color-dark;

        @include respond(tab-port) {
            width: 75%;
        }
        @include respond(phone) {
            width: 100%;
        }
    }

}