.contact-section {
    position: relative;
    background: transparent;
    color: $color-white;
    padding: 4rem 8rem 4rem 8rem;

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
        filter: brightness(30%);

        &__content {
            height: 100%;
            width: 100%;
            object-fit: cover !important;
        }
    }

    .bg-capture {
        position: absolute;
        bottom: 0;
        right: 0;

        &__text {
            color: $color-light-opaque;
            font-size: .7rem;
            margin-right: 1rem;
        }
    }

    &__title {
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        margin: 0;
        padding-bottom: 2rem;
    }

    &__options {
        padding: 0rem 4rem 0rem 0rem; 
        width: 100%;

        ul {
            list-style-type: none;
            padding-inline-start: 0;
        }
    }

    &__form {
        border: .15rem solid $color-white;
        padding: 4rem;
        width: 50%;
    }

}