.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
}

.col-1-3 {
    width: 33.33333333333333%;
    max-width: 33.33333333333333%;
}

.col-2-3 {
    width: 66.666666666666666%;
    max-width: 66.666666666666666%;
}

.col-1-2 {
    width: 50%;
    max-width: 50%;
}

@media only screen and (max-width: 900px) {
    .col-1-3 {
        flex: 100%;
        max-width: 100%;
    }
}