body, #root {
    height: 100%;
}

.scrollbar-frame {
    position: relative;
    top: 3.45rem;
    height: calc(100% - 3.45rem);
}

.ScrollbarTrack-Y {
    height: 100% !important;
    top: 0 !important;
}

html {
    // This defines what 1rem is
    font-size: 100%; //1 rem = 16px;

    @include respond(tab-land) { // width < 1200?
        font-size: 85%; // 9px
    }

    @include respond(tab-port) { // width < 900?
        font-size: 75%; //8px
    }
    /*
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    */
}