body, #root {
    height: 100%;
}

.scrollbar-frame {
    position: relative;
    top: 3.45rem;
    height: calc(100% - 3.45rem);
}

.ScrollbarTrack-Y {
    height: 100% !important;
    top: 0 !important;
}

html {
    // This defines what 1rem is
    font-size: 90%; //1 rem = 0.9* 16px = 14.4px;
}