$color-black: black;
$color-white: white;
$color-dark: #333;
$color-dark-opaque: rgba(51, 51, 51, .8);
$color-light: rgb(228, 225, 225);
$color-light-opaque: rgba(228, 225, 225, .6);
$color-light-blue: rgb(96, 159, 247);