@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

@mixin side-padding {

    @media (max-width: 1200px) {
        padding: 2rem 4rem 2rem 4rem;
    }

    @media (max-width: 900px) {
        padding: 1rem 2rem 1rem 2rem;
    }

    @media (max-width: 600px) {
        padding: 1rem 1rem 1rem 1rem;    
    }
        
    /*
    @media (min-width: 1800px) {
        padding: 4rem 8rem 4rem 8rem;
    }
    */
}


/*
-600down: 0rem;
$side-padding-900down: 2rem;
$side-padding-1200down: 4rem;
$side-padding-1200up: 8rem;
*/