.cover {
  position: absolute;
 // top: 3.45rem;
  //height: calc(100% - 3.45rem);
  height: 100%;
  width: 100%;
  background-image: url(./images/cover/cover.jpg);
  background-size: cover;
  filter: brightness(30%) opacity(.8);
}

.header-section {
    height: 100%;
    position: relative;
    color: $color-white;
    font-family: goudy;
  
    .heading {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 5;
      margin-bottom: 2rem;
    
      &__primary {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: goudyBold;
        letter-spacing: .4rem;
      }
  
      &__secondary {
        font-size: 1.5rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        font-family: goudyBold;
        letter-spacing: .1rem;
      }
    }
  
    .jump-to-content-button {
      position: absolute;
      width: 50px;
      height: 50px;
      background-image: url(images/down-arrow.svg);
      background-size: cover;
      filter: invert(100%);
      bottom: 75px;
      left: calc(50% - 25px);
      z-index: +2000;
      cursor: pointer;
    }
  }