.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./images/cover/cover_opt.jpg);
  background-size: cover;
  background-position: 50% 50%;
  filter: brightness(30%) opacity(.8);
}

.header-section {
    height: 100%;
    position: relative;
    color: $color-white;
  
    .heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 5;
      margin-bottom: 2rem;
    
      &__primary {
        font-size: 2.3rem;
        font-weight: 1200;
        font-family: goudy;
        letter-spacing: .3rem;
        text-transform: uppercase;

        @include respond(tab-land) { font-size: 2.0rem; }
        @include respond(tab-port) { font-size: 1.8rem; }
        @include respond(phone) { font-size: 1.5rem; }
        @include respond(big-desktop) { font-size: 3rem; }
      }
  
      &__secondary {
        font-size: 1.5rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        //font-family: goudyBold;
        letter-spacing: .1rem;

        @include respond(tab-land) { font-size: 1.5rem; }
        @include respond(tab-port) { font-size: 1.3rem; }
        @include respond(phone) { font-size: 1.1rem; }
        @include respond(big-desktop) { font-size: 1.8rem; }
      }
    }
  
    .jump-to-content-button {
      position: absolute;
      width: 50px;
      height: 50px;
      background-image: url(images/down-arrow.svg);
      background-size: cover;
      filter: invert(100%);
      bottom: 1rem;
      left: calc(50% - 25px);
      z-index: 1048;
      cursor: pointer;
    }
  }