.footer-section {
    position: relative;
    background-color: $color-dark;
    padding: 4rem 8rem 4rem 8rem;
    font-size: 1rem;
    font-family: goudy;
    color: $color-light;

    &__row {
        border-top: 1px solid $color-light-blue;
        padding-top: 1rem;
    }

    &__logo-box {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    &__navigation {
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }

    &__list {
        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-light;
            background-color: $color-dark;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-light-blue;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright-box {
        display: flex;
        align-items: center;
    }
}