.transition {
    position: relative;
    padding: 4rem 8rem 4rem 8rem;
    background-color: $color-light;
  
    &-box {
      width: 100%;
      position: relative;
      //margin: 2rem auto;
      //padding: 4rem;
      text-align: center;
      // background-color: $color-dark;
  
      &__text {
        font-family: goudy;
        font-size: 1.6rem;
        font-style: italic;
        font-weight: bold;
        // color: $color-white;
        position: relative;
        text-align: center;
      }
    }
  }